/src/mInternauta.Nermis.Core/build/
/src/mInternauta.Nermis.Core/dist/
/src/mInternauta.Nermis.Builtin/dist/
/src/mInternauta.Nermis.Builtin/build/
/src/mInternauta.Nermis/dist/
/src/mInternauta.Nermis/build/
/src/mInternauta.Nermis.Deamon/dist/
/src/mInternauta.Nermis.Deamon/build/
